{% extends 'layout.html' %}
{% block body %}

<div class="card-body box bg-dark d-flex justify-content-center p-4">  
    <form action="/insert_person">
        <div class="d-flex justify-content-center align-items-center">
            <h1><b>Set</b> person in <b>DB</b></h1>    
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <label for="">Nombre</label>
            <input class="m-2" type="text" name="name" id="" placeholder="Name">
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <label for="">Apellido</label>
            <input class="m-2" type="text" name="last_name" id="" placeholder="Last Name">
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <label for="">Email</label>
            <input class="m-2" type="text" name="email" id="" placeholder="Email">
        </div>
        <div class="m-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success">Success</button>
        </div>
    </form>
</div>

{% endblock %}